.messages#messages
  %pre
    %code#message

.container#loginForm
  %h2 Login
  .row
    %div
      .six.columns
        %label{for: "email"} Your email
        %input.u-full-width#email{type: "email", placeholder: "test@mailbox.com"}

      .six.columns
        %label{for: "password"} Your password
        %input.u-full-width#password{type: "password", placeholder: "Your password"}

  .row
    %input.button-primary#loginButton{type: "button", value: "login"}

.container#content Loading...

%script#shelveTemplate{type: "text/html"}
  .shelve.six.columns
    %h5
      %i {{name}}
    %ul
      {{#books}}
      %li
        {{title}} -
        %i.delete-book.fa.fa-trash{data: {delete_shelve_id: "{{id}}", delete_book_id: "{{id}}"}}
      {{/books}}
    %a.create-book-link{data: {shelve_id: "{{id}}", href: "#"}} Add book

#createBook{title: "Create book"}
  %form
    %input#shelfId{type: "hidden"}
    %label{for: "title"} Title
    %input.u-full-width#title{type: "text", placeholder: "Title"}
    %label{for: "description"} Description
    %input.u-full-width#description{type: "text", placeholder: "Description"}
