#loginForm {
    margin-top: 5%;
}

#content {
    margin-top: 5%;
    display: none;
}

#messages {
    position: absolute;
    display: none;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

code {
    font-weight: bold;
    background-color: #BB0505;
}