!!!
%html
  %head
  %meta{charset: "utf-8"}
  %title Book shelves
  %meta{name: "description", content: "A book catalog page"}
  %meta{name: "author", content: "Rafa de Castro"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %link{href: "//fonts.googleapis.com/css?family=Raleway:400,300,600", rel: "stylesheet", type: "text/css"}
  %link{rel: "stylesheet", href:"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}

%body
  = yield
